.style37 {
  background-color: #131313;
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 1200px;
  height: 591px;
  flex-direction: column
}
.style38 {
  margin-left: 305px;
  margin-top: 20px;
  width: 881px;
  height: 561px
}
.style28 {
  background-color: #fff;
  box-shadow: 0 4px 9px 1px rgba(0,0,0,.12);
  opacity: .97;
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 1200px;
  height: 542px;
  flex-direction: column
}
.artboard1container6row0 {
  display: flex;
  margin-left: 75px;
  margin-top: 72px;
  width: 702px;
  height: 190px
}
.style36 {
  opacity: .97;
  margin-left: 0;
  width: 190px;
  height: 100%
}
.artboard1container6row0column1 {
  display: flex;
  margin-left: 76px;
  width: 436px;
  height: 200px;
  flex-direction: column
}
.style34,
.style35 {
  font-family: Roboto,serif;
  font-weight: 500
}
.style35 {
  text-align: center;
  color: rgba(38,38,38,.97);
  font-size: 3.75em;
  margin-top: 0;
  height: 51px
}
.style34 {
  color: rgba(93,93,93,.97);
  font-size: 2.375em;
  margin-top: 36px;
  height: 41px
}
.artboard1container6row0column1row2 {
  display: flex;
  margin-top: 19px;
  width: 190px;
  height: 53px;
  align-items: center
}
.style33 {
  opacity: .97;
  margin-left: 0;
  width: 43px;
  height: 100%
}
.style32 {
  color: rgba(93,93,93,.97);
  font-family: Roboto,serif;
  font-size: 2.375em;
  font-weight: 500;
  margin-left: 28px;
  height: 31px
}
.style30 {
  background-color: #0f9d58;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  opacity: .97;
  display: flex;
  margin-left: 744px;
  margin-top: 74px;
  width: 404px;
  height: 120px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style29,
.style31 {
  color: rgba(255,255,255,.97);
  font-family: Roboto,serif;
  font-size: 2.75em;
  font-weight: 500;
  height: 36px
}
.style29 {
  color: rgba(93,93,93,.97);
  font-size: 2.375em;
  margin-left: 562px;
  margin-top: 26px;
  height: 41px
}
.style6,
.style7 {
  display: flex;
  flex-direction: column
}
.style6 {
  background-color: #fff;
  box-shadow: 0 4px 9px 1px rgba(0,0,0,.12);
  margin-left: 0;
  width: 1200px;
  align-items: stretch;
  margin-top: 0;
  height: 437px
}
.style7 {
  margin-top: 32px;
  height: 354px
}
.artboard1container1listbox0row0 {
  display: flex;
  margin-left: 69px;
  margin-top: 51px;
  width: 1041px;
  height: 199px;
  align-items: stretch
}
.style24 {
  border-left: 5px solid #0f9d58;
  border-right: 5px solid #0f9d58;
  border-top: 5px solid #0f9d58;
  border-bottom: 5px solid #0f9d58;
  border-top-left-radius: 101px;
  border-top-right-radius: 101px;
  border-bottom-left-radius: 101px;
  border-bottom-right-radius: 101px;
  display: flex;
  margin-left: 0;
  width: 199px;
  flex-direction: column
}
.style27 {
  color: #7b7b7b;
  font-family: Roboto,serif;
  font-size: 4.625em;
  font-weight: 500;
  margin-left: 85px;
  margin-top: 69px;
  height: 60px
}
.style25 {
  background-color: #0f9d58;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  margin-top: 7px;
  width: 158px;
  height: 62px;
  align-items: center;
  align-self: center;
  flex-direction: column;
  justify-content: center
}
.style26 {
  color: #fff;
  text-align: center;
  font-family: Roboto,serif;
  font-size: 1.75em;
  height: 23px
}
.style16 {
  background-image: url(https://designresources.assets.yotako.io/40599uejidj3n1h.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 76px;
  width: 197px;
  align-items: center;
  flex-direction: column
}
.style17 {
  color: #fff;
  font-family: Roboto,serif;
  font-size: 4.125em;
  font-weight: 500;
  margin-top: 52px;
  height: 53px
}
.artboard1container1listbox0row0image6row1 {
  display: flex;
  margin-top: 24px;
  width: 105px;
  height: 18px;
  align-items: stretch
}
.style18 {
  margin-left: 0;
  width: 19px
}
.style19,
.style20 {
  margin-left: 3px;
  width: 20px
}
.style20 {
  margin-left: 4px
}
.style21,
.style22 {
  margin-left: 4px;
  width: 19px
}
.style22 {
  width: 12px
}
.style12 {
  background-color: #0f9d58;
  border-left: 5px solid #0f9d58;
  border-right: 5px solid #0f9d58;
  border-top: 5px solid #0f9d58;
  border-bottom: 5px solid #0f9d58;
  box-shadow: 0 6px 4px 1px rgba(0,0,0,.25);
  border-top-left-radius: 101px;
  border-top-right-radius: 101px;
  border-bottom-left-radius: 101px;
  border-bottom-right-radius: 101px;
  display: flex;
  margin-left: 86px;
  width: 199px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style13 {
  width: 128px;
  height: 71px
}
.style9 {
  background-color: #0f9d58;
  border-left: 5px solid #0f9d58;
  border-right: 5px solid #0f9d58;
  border-top: 5px solid #0f9d58;
  border-bottom: 5px solid #0f9d58;
  box-shadow: 0 6px 4px 1px rgba(0,0,0,.25);
  border-top-left-radius: 101px;
  border-top-right-radius: 101px;
  border-bottom-left-radius: 101px;
  border-bottom-right-radius: 101px;
  display: flex;
  margin-left: 84px;
  width: 199px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style10 {
  width: 103px;
  height: 75px
}
.artboard1container1listbox0row1 {
  display: flex;
  margin-left: 84px;
  margin-top: 36px;
  width: 1020px;
  height: 31px;
  align-items: center
}
.style15,
.style23 {
  color: #5d5d5d;
  font-family: Roboto,serif;
  font-size: 1.9375em;
  font-weight: 500;
  margin-left: 0;
  height: 100%
}
.style15 {
  margin-left: 119px
}
.style14 {
  margin-left: 11px;
  width: 28px;
  height: 25px
}
.style11,
.style8 {
  color: #5d5d5d;
  font-family: Roboto,serif;
  font-size: 1.9375em;
  font-weight: 500;
  margin-left: 131px;
  height: 100%
}
.style8 {
  margin-left: 106px
}
.style0 {
  background-color: #fff;
  opacity: .97;
  display: flex;
  margin-left: 0;
  margin-top: 14px;
  width: 1200px;
  height: 559px;
  align-items: center;
  flex-direction: column
}
.style5 {
  color: rgba(40,40,40,.97);
  text-align: center;
  font-family: Roboto,serif;
  font-size: 2.9375em;
  font-weight: 300;
  margin-top: 69px;
  height: 51px
}
.artboard1container0row1 {
  display: flex;
  margin-top: 47px;
  width: 275px;
  height: 77px;
  align-items: center;
  justify-content: space-between
}
.style3 {
  opacity: .97;
  width: 81px;
  height: 62px
}
.style1,
.style2 {
  opacity: .97;
  width: 66px;
  height: 100%
}
.style1 {
  width: 75px;
  height: 68px
}
.style4 {
  color: rgba(15,157,88,.97);
  text-align: center;
  font-family: Roboto,serif;
  font-size: 2.5625em;
  font-weight: 700;
  margin-top: 65px;
  height: 35px
}
.style84 {
  background-color: #0f9d58;
  box-shadow: 0 6px 10px 1px rgba(0,0,0,.15);
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 1200px;
  height: 431px;
  flex-direction: column
}
.artboard2container7row0 {
  display: flex;
  margin-top: 85px;
  width: 1103px;
  height: 68px;
  align-self: center
}
.style89 {
  margin-left: 0;
  width: 60px;
  height: 53px;
  align-self: center
}
.style90 {
  color: #fff;
  font-family: Roboto,serif;
  font-size: 3.4375em;
  font-weight: 500;
  margin-left: 60px;
  height: 58px;
  align-self: flex-end
}
.style91 {
  margin-left: 630px;
  width: 69px;
  height: 100%;
  align-self: stretch
}
.artboard2container7row1 {
  display: flex;
  margin-left: 79px;
  margin-top: 184px;
  width: 917px;
  height: 34px;
  align-items: stretch
}
.style85,
.style87,
.style88 {
  font-family: Roboto,serif;
  font-size: 2.5625em;
  font-weight: 500
}
.style85 {
  color: #fff;
  margin-left: 0
}
.style87,
.style88 {
  color: rgba(255,255,255,.6);
  margin-left: 89px
}
.style88 {
  margin-left: 51px
}
.style86 {
  background-color: #fff;
  margin-left: 39px;
  margin-top: 43px;
  width: 300px;
  height: 14px
}
.style39 {
  background-color: #f3f3f3;
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 1200px;
  height: 1713px;
  flex-direction: column
}
.style83 {
  color: #7a7a7a;
  font-family: Roboto,serif;
  font-size: 2.5em;
  margin-left: 43px;
  margin-top: 65px;
  height: 43px
}
.style76 {
  background-color: #fff;
  box-shadow: 0 0 9px 1px rgba(0,0,0,.1);
  display: flex;
  margin-top: 48px;
  width: 1129px;
  height: 233px;
  align-self: center;
  flex-direction: column
}
.artboard2container0container6row0 {
  display: flex;
  margin-left: 68px;
  margin-top: 53px;
  width: 1010px;
  height: 135px
}
.style77 {
  margin-left: 0;
  width: 134px;
  height: 100%
}
.artboard2container0container6row0column1 {
  display: flex;
  margin-left: 67px;
  width: 245px;
  height: 137px;
  flex-direction: column
}
.style78,
.style79 {
  color: #3e3e3e;
  font-family: Roboto,serif;
  font-size: 2.8125em;
  margin-top: 0;
  height: 46px
}
.style79 {
  color: #767676;
  font-size: 2.1875em;
  margin-top: 12px;
  height: 30px
}
.artboard2container0container6row0column1row2 {
  display: flex;
  margin-top: 20px;
  width: 88px;
  height: 29px;
  align-items: stretch
}
.style81 {
  color: #767676;
  font-family: Roboto,serif;
  font-size: 2.1875em;
  margin-left: 0
}
.style80 {
  margin-left: 14px;
  width: 26px
}
.style82 {
  margin-left: 552px;
  width: 12px;
  height: 49px
}
.style68 {
  background-color: #fff;
  box-shadow: 0 0 9px 1px rgba(0,0,0,.1);
  display: flex;
  margin-top: 0;
  width: 1129px;
  height: 233px;
  align-self: center;
  flex-direction: column
}
.artboard2container0container5row0 {
  display: flex;
  margin-left: 68px;
  margin-top: 52px;
  width: 1010px;
  height: 138px
}
.style75 {
  margin-left: 0;
  width: 147px;
  height: 100%
}
.artboard2container0container5row0column1 {
  display: flex;
  margin-left: 53px;
  width: 214px;
  height: 100%;
  flex-direction: column
}
.style70,
.style71 {
  color: #3e3e3e;
  font-family: Roboto,serif;
  font-size: 2.8125em;
  margin-top: 0;
  height: 39px
}
.style71 {
  color: #767676;
  font-size: 2.1875em;
  margin-top: 22px;
  height: 30px
}
.artboard2container0container5row0column1row2 {
  display: flex;
  margin-top: 21px;
  width: 89px;
  height: 27px;
  align-items: stretch
}
.style73 {
  color: #767676;
  font-family: Roboto,serif;
  font-size: 2.1875em;
  margin-left: 0
}
.style72 {
  margin-left: 19px;
  width: 26px
}
.style74 {
  margin-left: 584px;
  width: 12px;
  height: 49px
}
.style61 {
  background-color: #fff;
  box-shadow: 0 0 9px 1px rgba(0,0,0,.1);
  display: flex;
  margin-top: 0;
  width: 1129px;
  height: 233px;
  align-self: center;
  flex-direction: column;
  justify-content: center
}
.artboard2container0container4row0 {
  display: flex;
  margin-left: 71px;
  width: 1007px;
  height: 141px
}
.style67 {
  margin-left: 0;
  width: 141px;
  height: 100%;
  align-self: stretch
}
.artboard2container0container4row0column1 {
  display: flex;
  margin-left: 56px;
  width: 188px;
  height: 139px;
  align-self: center;
  flex-direction: column
}
.style62,
.style63 {
  color: #3e3e3e;
  font-family: Roboto,serif;
  font-size: 2.8125em;
  margin-top: 0;
  height: 39px
}
.style63 {
  color: #767676;
  font-size: 2.1875em;
  margin-top: 22px;
  height: 34px
}
.artboard2container0container4row0column1row2 {
  display: flex;
  margin-top: 16px;
  width: 89px;
  height: 28px;
  align-items: stretch
}
.style65 {
  color: #767676;
  font-family: Roboto,serif;
  font-size: 2.1875em;
  margin-left: 0
}
.style64 {
  margin-left: 13px;
  width: 26px
}
.style66 {
  margin-left: 610px;
  margin-top: 5px;
  width: 12px;
  height: 49px
}
.style54 {
  background-color: #fff;
  box-shadow: 0 0 9px 1px rgba(0,0,0,.1);
  display: flex;
  margin-top: 0;
  width: 1129px;
  height: 233px;
  align-self: center;
  flex-direction: column;
  justify-content: center
}
.artboard2container0container3row0 {
  display: flex;
  margin-left: 70px;
  width: 1008px;
  height: 149px
}
.style60 {
  margin-left: 0;
  width: 149px;
  height: 100%;
  align-self: stretch
}
.artboard2container0container3row0column1 {
  display: flex;
  margin-left: 49px;
  width: 198px;
  height: 140px;
  align-self: flex-end;
  flex-direction: column
}
.style55,
.style56 {
  color: #3e3e3e;
  font-family: Roboto,serif;
  font-size: 2.8125em;
  margin-top: 0;
  height: 39px
}
.style56 {
  color: #767676;
  font-size: 2.1875em;
  margin-top: 22px;
  height: 30px
}
.artboard2container0container3row0column1row2 {
  display: flex;
  margin-top: 20px;
  width: 89px;
  height: 29px;
  align-items: stretch
}
.style58 {
  color: #767676;
  font-family: Roboto,serif;
  font-size: 2.1875em;
  margin-left: 0
}
.style57 {
  margin-left: 13px;
  width: 26px
}
.style59 {
  margin-left: 600px;
  margin-top: 12px;
  width: 12px;
  height: 49px
}
.style47 {
  background-color: #fff;
  box-shadow: 0 0 9px 1px rgba(0,0,0,.1);
  display: flex;
  margin-top: 0;
  width: 1129px;
  height: 233px;
  align-self: center;
  flex-direction: column
}
.artboard2container0container2row0 {
  display: flex;
  margin-left: 68px;
  margin-top: 52px;
  width: 1010px;
  height: 139px
}
.style53 {
  margin-left: 0;
  width: 139px;
  height: 100%
}
.artboard2container0container2row0column1 {
  display: flex;
  margin-left: 61px;
  width: 518px;
  height: 100%;
  flex-direction: column
}
.style48,
.style49 {
  color: #3e3e3e;
  font-family: Roboto,serif;
  font-size: 2.8125em;
  margin-top: 0;
  height: 39px
}
.style49 {
  color: #767676;
  font-size: 2.1875em;
  margin-top: 22px;
  height: 30px
}
.artboard2container0container2row0column1row2 {
  display: flex;
  margin-top: 21px;
  width: 89px;
  height: 27px;
  align-items: stretch
}
.style51 {
  color: #767676;
  font-family: Roboto,serif;
  font-size: 2.1875em;
  margin-left: 0
}
.style50 {
  margin-left: 12px;
  width: 26px
}
.style52 {
  margin-left: 280px;
  width: 12px;
  height: 49px
}
.style40 {
  background-color: #fff;
  box-shadow: 0 0 9px 1px rgba(0,0,0,.1);
  display: flex;
  margin-top: 0;
  width: 1129px;
  height: 233px;
  align-self: center;
  flex-direction: column;
  justify-content: center
}
.artboard2container0container1row0 {
  display: flex;
  margin-left: 69px;
  width: 1009px;
  height: 142px
}
.style46 {
  margin-left: 0;
  width: 142px;
  height: 100%;
  align-self: stretch
}
.artboard2container0container1row0column1 {
  display: flex;
  margin-left: 57px;
  width: 560px;
  height: 139px;
  align-self: center;
  flex-direction: column
}
.style41,
.style42 {
  color: #3e3e3e;
  font-family: Roboto,serif;
  font-size: 2.8125em;
  margin-top: 0;
  height: 49px
}
.style42 {
  color: #767676;
  font-size: 2.1875em;
  margin-top: 12px;
  height: 30px
}
.artboard2container0container1row0column1row2 {
  display: flex;
  margin-top: 21px;
  width: 89px;
  height: 27px;
  align-items: stretch
}
.style44 {
  color: #767676;
  font-family: Roboto,serif;
  font-size: 2.1875em;
  margin-left: 0
}
.style43 {
  margin-left: 19px;
  width: 26px
}
.style45 {
  margin-left: 238px;
  width: 12px;
  height: 49px
}
.main-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1200px
}
.style123 {
  background-color: #0f9d58;
  box-shadow: 0 6px 10px 1px rgba(0,0,0,.15);
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 1200px;
  height: 267px;
  align-items: center;
  flex-direction: column
}
.artboard3container10row0 {
  display: flex;
  margin-top: 85px;
  width: 1103px;
  height: 68px
}
.style124 {
  margin-left: 0;
  width: 60px;
  height: 53px;
  align-self: center
}
.style125 {
  color: #fff;
  font-family: Roboto,serif;
  font-size: 3.4375em;
  font-weight: 500;
  margin-left: 62px;
  height: 59px;
  align-self: flex-end
}
.style126 {
  margin-left: 626px;
  width: 69px;
  height: 100%;
  align-self: stretch
}
.style92 {
  background-color: #f3f3f3;
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 1200px;
  height: 1873px;
  flex-direction: column
}
.style113 {
  color: #222;
  font-family: Roboto,serif;
  font-size: 3.75em;
  font-weight: 500;
  margin-left: 71px;
  margin-top: 71px;
  height: 65px
}
.artboard3container0row1 {
  display: flex;
  margin-left: 107px;
  margin-top: 76px;
  width: 972px;
  height: 273px;
  align-items: stretch
}
.style121 {
  background-color: #0f9d58;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
  box-shadow: inset 0 13px 19px 1px rgba(0,0,0,.2),0 4px 2px 1px rgba(0,0,0,.25);
  border-top-left-radius: 139px;
  border-top-right-radius: 139px;
  border-bottom-left-radius: 139px;
  border-bottom-right-radius: 139px;
  opacity: .99;
  display: flex;
  margin-left: 0;
  width: 273px;
  align-items: center;
  flex-direction: column
}
.style122 {
  margin-top: 101px;
  width: 105px;
  height: 83px
}
.style118 {
  background-color: #0f9d58;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
  box-shadow: inset 0 13px 19px 1px rgba(0,0,0,.2),0 4px 2px 1px rgba(0,0,0,.25);
  border-top-left-radius: 139px;
  border-top-right-radius: 139px;
  border-bottom-left-radius: 139px;
  border-bottom-right-radius: 139px;
  opacity: .99;
  display: flex;
  margin-left: 82px;
  width: 273px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style119 {
  width: 90px;
  height: 86px
}
.style115 {
  background-color: #0f9d58;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
  box-shadow: inset 0 13px 19px 1px rgba(0,0,0,.2),0 4px 2px 1px rgba(0,0,0,.25);
  border-top-left-radius: 139px;
  border-top-right-radius: 139px;
  border-bottom-left-radius: 139px;
  border-bottom-right-radius: 139px;
  opacity: .99;
  display: flex;
  margin-left: 70px;
  width: 273px;
  flex-direction: column;
  justify-content: center
}
.style116 {
  margin-left: 84px;
  width: 93px;
  height: 102px
}
.artboard3container0row2 {
  position: relative;
  display: flex;
  margin-left: 136px;
  margin-top: 42px;
  width: 955px;
  height: 44px;
  align-items: center
}
.style117,
.style120 {
  color: #5d5d5d;
  font-size: 2.5em;
  height: 100%;
  flex-shrink: 0
}
.style120 {
  font-family: Roboto,serif;
  font-weight: 500;
  position: relative;
  margin-left: 0
}
.style117 {
  margin-left: 138px
}
.style112,
.style114,
.style117 {
  font-family: Roboto,serif;
  font-weight: 500
}
.style114 {
  flex-shrink: 0;
  color: #5d5d5d;
  font-size: 2.5em;
  margin-left: 147px;
  height: 35px
}
.style112 {
  color: #222;
  font-size: 3.75em;
  margin-left: 70px;
  margin-top: 157px;
  height: 65px
}
.style93 {
  background-color: #fff;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  box-shadow: 2px 4px 8px 1px rgba(0,0,0,.15);
  display: flex;
  margin-top: 56px;
  width: 1143px;
  height: 1006px;
  align-self: center;
  flex-direction: column
}
.artboard3container0listbox0row0 {
  display: flex;
  margin-left: 39px;
  margin-top: 55px;
  width: 471px;
  height: 111px;
  align-items: center
}
.style109 {
  background-color: #0f9d58;
  border-top-left-radius: 58px;
  border-top-right-radius: 58px;
  border-bottom-left-radius: 58px;
  border-bottom-right-radius: 58px;
  display: flex;
  margin-left: 0;
  width: 111px;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style110 {
  width: 43px;
  height: 65px
}
.style111 {
  color: #4e4e4e;
  font-family: Roboto,serif;
  font-size: 3em;
  margin-left: 42px;
  height: 42px
}
.artboard3container0listbox0row1 {
  display: flex;
  margin-left: 39px;
  margin-top: 48px;
  width: 447px;
  height: 111px
}
.style106 {
  background-color: #0f9d58;
  border-top-left-radius: 58px;
  border-top-right-radius: 58px;
  border-bottom-left-radius: 58px;
  border-bottom-right-radius: 58px;
  display: flex;
  margin-left: 0;
  width: 111px;
  height: 100%;
  align-items: center;
  align-self: stretch;
  flex-direction: column;
  justify-content: center
}
.style107 {
  width: 45px;
  height: 49px
}
.style108 {
  color: #4e4e4e;
  font-family: Roboto,serif;
  font-size: 3em;
  margin-left: 42px;
  margin-top: 35px;
  height: 53px
}
.artboard3container0listbox0row2 {
  display: flex;
  margin-left: 39px;
  margin-top: 48px;
  width: 529px;
  height: 111px;
  align-items: center
}
.style103 {
  background-color: #0f9d58;
  border-top-left-radius: 58px;
  border-top-right-radius: 58px;
  border-bottom-left-radius: 58px;
  border-bottom-right-radius: 58px;
  display: flex;
  margin-left: 0;
  width: 111px;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style104 {
  width: 46px;
  height: 42px
}
.style105 {
  color: #4e4e4e;
  font-family: Roboto,serif;
  font-size: 3em;
  margin-left: 42px;
  height: 42px
}
.artboard3container0listbox0row3 {
  display: flex;
  margin-left: 41px;
  margin-top: 49px;
  width: 318px;
  height: 110px
}
.style100 {
  background-color: #0f9d58;
  border-top-left-radius: 57px;
  border-top-right-radius: 57px;
  border-bottom-left-radius: 57px;
  border-bottom-right-radius: 57px;
  display: flex;
  margin-left: 0;
  width: 110px;
  height: 100%;
  align-items: center;
  align-self: stretch;
  flex-direction: column
}
.style101 {
  margin-top: 23px;
  width: 53px;
  height: 55px
}
.style102 {
  color: #4e4e4e;
  font-family: Roboto,serif;
  font-size: 3em;
  margin-left: 44px;
  margin-top: 36px;
  height: 50px
}
.artboard3container0listbox0row4 {
  display: flex;
  margin-left: 39px;
  margin-top: 47px;
  width: 633px;
  height: 111px;
  align-items: center
}
.style97 {
  background-color: #0f9d58;
  border-top-left-radius: 58px;
  border-top-right-radius: 58px;
  border-bottom-left-radius: 58px;
  border-bottom-right-radius: 58px;
  display: flex;
  margin-left: 0;
  width: 111px;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style98 {
  width: 48px;
  height: 35px
}
.style99 {
  color: #4e4e4e;
  font-family: Roboto,serif;
  font-size: 3em;
  margin-left: 45px;
  height: 43px
}
.artboard3container0listbox0row5 {
  display: flex;
  margin-left: 39px;
  margin-top: 48px;
  width: 371px;
  height: 111px;
  align-items: center
}
.style94 {
  background-color: #0f9d58;
  border-top-left-radius: 58px;
  border-top-right-radius: 58px;
  border-bottom-left-radius: 58px;
  border-bottom-right-radius: 58px;
  display: flex;
  margin-left: 0;
  width: 111px;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style95 {
  width: 39px;
  height: 39px
}
.style96 {
  color: #4e4e4e;
  font-family: Roboto,serif;
  font-size: 3em;
  margin-left: 45px;
  height: 42px
}